body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f5f7;
}

header {
    background-color: #00A69C;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.assessment-form {
    padding: 40px 20px;
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.assessment-form h2 {
    font-size: 24px;
    color: #282829;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #00A69C;
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #676767;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #00A69C;
    color: #fff;
}
