body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00A69C;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
}

h2 {
    color: #00A69C;
}

section {
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    transition: transform 0.3s;
}


footer {
    background-color: #00A69C;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.footer-section{
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

.footer-section a:hover {
    text-decoration: underline;
}